USE [master]
GO
/****** Object:  Database [DiabetesMedicalRecordDB]    Script Date: 13/07/2026 4:36:11 PM ******/
CREATE DATABASE [DiabetesMedicalRecordDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiabetesMedicalRecordDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\DiabetesMedicalRecordDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiabetesMedicalRecordDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\DiabetesMedicalRecordDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiabetesMedicalRecordDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiabetesMedicalRecordDB]
GO
/****** Object:  Table [dbo].[AIAdviceHistory]    Script Date: 13/07/2026 4:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIAdviceHistory](
	[advice_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
	[advice_date] [datetime] NULL,
	[advice_content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[advice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIWarnings]    Script Date: 13/07/2026 4:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIWarnings](
	[warning_id] [int] IDENTITY(1,1) NOT NULL,
	[record_id] [int] NOT NULL,
	[risk_level] [nvarchar](50) NULL,
	[warning_message] [nvarchar](max) NULL,
	[suggested_action] [nvarchar](max) NULL,
	[ai_score] [decimal](5, 2) NULL,
	[generated_at] [datetime] NULL,
	[reviewed_by_doctor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[warning_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 13/07/2026 4:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[doctor_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[specialty] [nvarchar](100) NOT NULL,
	[license_no] [varchar](50) NOT NULL,
	[license_issue_date] [date] NULL,
	[license_expire_date] [date] NULL,
	[license_issued_by] [nvarchar](150) NULL,
	[degree] [nvarchar](50) NULL,
	[consultation_fee] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthIndicators]    Script Date: 13/07/2026 4:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthIndicators](
	[indicator_id] [int] IDENTITY(1,1) NOT NULL,
	[record_id] [int] NOT NULL,
	[entered_by_staff] [int] NULL,
	[height] [decimal](5, 2) NULL,
	[weight] [decimal](5, 2) NULL,
	[bmi] [decimal](4, 2) NULL,
	[systolic_bp] [int] NULL,
	[diastolic_bp] [int] NULL,
	[heart_rate] [int] NULL,
	[temperature] [decimal](4, 1) NULL,
	[blood_glucose] [decimal](5, 2) NULL,
	[hba1c] [decimal](4, 2) NULL,
	[cholesterol] [decimal](5, 2) NULL,
	[triglyceride] [decimal](5, 2) NULL,
	[hdl_c] [decimal](5, 2) NULL,
	[ldl_c] [decimal](5, 2) NULL,
	[measured_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[indicator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 13/07/2026 4:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[created_by_staff] [int] NULL,
	[visit_date] [datetime] NULL,
	[reason_for_visit] [nvarchar](255) NULL,
	[symptoms] [nvarchar](max) NULL,
	[medical_history] [nvarchar](max) NULL,
	[lifestyle_habits] [nvarchar](max) NULL,
	[clinical_exam] [nvarchar](max) NULL,
	[complication_note] [nvarchar](max) NULL,
	[final_diagnosis] [nvarchar](255) NULL,
	[treatment_plan] [nvarchar](max) NULL,
	[prescription_note] [nvarchar](max) NULL,
	[advice] [nvarchar](max) NULL,
	[follow_up_date] [date] NULL,
	[doctor_note] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientDailyLogs]    Script Date: 13/07/2026 4:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDailyLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
	[log_date] [date] NULL,
	[blood_glucose] [decimal](5, 2) NULL,
	[systolic_bp] [int] NULL,
	[diastolic_bp] [int] NULL,
	[weight] [decimal](5, 2) NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[symptoms] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 13/07/2026 4:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patient_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[phone] [varchar](15) NULL,
	[address] [nvarchar](255) NULL,
	[health_insurance_no] [varchar](20) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[national_id] [varchar](20) NULL,
	[national_id_date] [date] NULL,
	[national_id_place] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/07/2026 4:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](15) NULL,
	[role] [varchar](20) NOT NULL,
	[status] [nvarchar](20) NULL,
	[email] [varchar](100) NULL,
	[dob] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[cccd] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AIWarnings] ON 

INSERT [dbo].[AIWarnings] ([warning_id], [record_id], [risk_level], [warning_message], [suggested_action], [ai_score], [generated_at], [reviewed_by_doctor]) VALUES (1, 3, N'Cao', N'Đường huyết (12.4) và HbA1c (8.5%) đang ở mức báo động nguy hiểm, kèm huyết áp cao.', N'Yêu cầu bác sĩ chỉ định phác đồ tiêm Insulin khẩn cấp và rà soát biến chứng thận.', CAST(88.50 AS Decimal(5, 2)), CAST(N'2026-07-09T20:48:18.233' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[AIWarnings] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([doctor_id], [user_id], [specialty], [license_no], [license_issue_date], [license_expire_date], [license_issued_by], [degree], [consultation_fee]) VALUES (1, 6, N'Nội tiết - Đái tháo đường', N'CC hành ngh? Ð?t chu?n 01', CAST(N'2015-01-10' AS Date), CAST(N'2030-01-10' AS Date), N'Sở Y Tế Hà Nội', N'Thạc sĩ', CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[Doctors] ([doctor_id], [user_id], [specialty], [license_no], [license_issue_date], [license_expire_date], [license_issued_by], [degree], [consultation_fee]) VALUES (2, 7, N'Nội tổng hợp', N'CC hành ngh? Ð?t chu?n 02', CAST(N'2016-05-12' AS Date), CAST(N'2031-05-12' AS Date), N'Sở Y Tế TP.HCM', N'Bác sĩ Chuyên khoa I', CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[Doctors] ([doctor_id], [user_id], [specialty], [license_no], [license_issue_date], [license_expire_date], [license_issued_by], [degree], [consultation_fee]) VALUES (3, 8, N'Tim mạch - Biến chứng nội tiết', N'CC hành ngh? Ð?t chu?n 03', CAST(N'2012-08-20' AS Date), CAST(N'2027-08-20' AS Date), N'Bộ Y Tế', N'Tiến sĩ', CAST(300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthIndicators] ON 

INSERT [dbo].[HealthIndicators] ([indicator_id], [record_id], [entered_by_staff], [height], [weight], [bmi], [systolic_bp], [diastolic_bp], [heart_rate], [temperature], [blood_glucose], [hba1c], [cholesterol], [triglyceride], [hdl_c], [ldl_c], [measured_at]) VALUES (1, 1, 3, CAST(165.00 AS Decimal(5, 2)), CAST(70.50 AS Decimal(5, 2)), CAST(25.90 AS Decimal(4, 2)), 130, 80, 75, NULL, CAST(8.50 AS Decimal(5, 2)), CAST(7.20 AS Decimal(4, 2)), CAST(5.20 AS Decimal(5, 2)), NULL, NULL, NULL, CAST(N'2026-07-09T20:48:18.233' AS DateTime))
INSERT [dbo].[HealthIndicators] ([indicator_id], [record_id], [entered_by_staff], [height], [weight], [bmi], [systolic_bp], [diastolic_bp], [heart_rate], [temperature], [blood_glucose], [hba1c], [cholesterol], [triglyceride], [hdl_c], [ldl_c], [measured_at]) VALUES (2, 2, 3, CAST(155.00 AS Decimal(5, 2)), CAST(52.00 AS Decimal(5, 2)), CAST(21.60 AS Decimal(4, 2)), 115, 75, 72, NULL, CAST(6.10 AS Decimal(5, 2)), CAST(6.00 AS Decimal(4, 2)), CAST(4.50 AS Decimal(5, 2)), NULL, NULL, NULL, CAST(N'2026-07-09T20:48:18.233' AS DateTime))
INSERT [dbo].[HealthIndicators] ([indicator_id], [record_id], [entered_by_staff], [height], [weight], [bmi], [systolic_bp], [diastolic_bp], [heart_rate], [temperature], [blood_glucose], [hba1c], [cholesterol], [triglyceride], [hdl_c], [ldl_c], [measured_at]) VALUES (3, 3, 4, CAST(170.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(27.70 AS Decimal(4, 2)), 140, 90, 82, NULL, CAST(12.40 AS Decimal(5, 2)), CAST(8.50 AS Decimal(4, 2)), CAST(6.10 AS Decimal(5, 2)), NULL, NULL, NULL, CAST(N'2026-07-09T20:48:18.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[HealthIndicators] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientDailyLogs] ON 

INSERT [dbo].[PatientDailyLogs] ([log_id], [patient_id], [log_date], [blood_glucose], [systolic_bp], [diastolic_bp], [weight], [note], [created_at], [symptoms]) VALUES (1, 1, CAST(N'2026-06-21' AS Date), CAST(7.20 AS Decimal(5, 2)), 125, 78, CAST(70.20 AS Decimal(5, 2)), NULL, CAST(N'2026-07-09T20:48:18.233' AS DateTime), N'Bình thường')
INSERT [dbo].[PatientDailyLogs] ([log_id], [patient_id], [log_date], [blood_glucose], [systolic_bp], [diastolic_bp], [weight], [note], [created_at], [symptoms]) VALUES (2, 1, CAST(N'2026-06-22' AS Date), CAST(6.90 AS Decimal(5, 2)), 122, 80, CAST(70.10 AS Decimal(5, 2)), NULL, CAST(N'2026-07-09T20:48:18.233' AS DateTime), N'Cơ thể khỏe mạnh')
INSERT [dbo].[PatientDailyLogs] ([log_id], [patient_id], [log_date], [blood_glucose], [systolic_bp], [diastolic_bp], [weight], [note], [created_at], [symptoms]) VALUES (3, 1, CAST(N'2026-06-23' AS Date), CAST(8.10 AS Decimal(5, 2)), 132, 82, CAST(70.40 AS Decimal(5, 2)), NULL, CAST(N'2026-07-09T20:48:18.233' AS DateTime), N'Hơi đau đầu sau ăn nhiều tinh bột')
SET IDENTITY_INSERT [dbo].[PatientDailyLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([patient_id], [user_id], [full_name], [date_of_birth], [gender], [phone], [address], [health_insurance_no], [created_by], [created_at], [national_id], [national_id_date], [national_id_place]) VALUES (1, 11, N'Bệnh Nhân Thứ 1', CAST(N'2005-07-09' AS Date), N'Nữ', N'0904000001', N'Số 1 Đường CMT8, Quận 3, TP.HCM', N'GD4790000001', 3, CAST(N'2026-07-09T20:48:18.220' AS DateTime), N'079099000001', CAST(N'2021-05-20' AS Date), N'Cục Cảnh sát QLHC về trật tự xã hội')
INSERT [dbo].[Patients] ([patient_id], [user_id], [full_name], [date_of_birth], [gender], [phone], [address], [health_insurance_no], [created_by], [created_at], [national_id], [national_id_date], [national_id_place]) VALUES (2, 12, N'Bệnh Nhân Thứ 2', CAST(N'2003-07-09' AS Date), N'Nam', N'0904000002', N'Số 2 Đường CMT8, Quận 3, TP.HCM', N'GD4790000002', 3, CAST(N'2026-07-09T20:48:18.220' AS DateTime), N'031093000002', CAST(N'2021-05-20' AS Date), N'Cục Cảnh sát QLHC về trật tự xã hội')
INSERT [dbo].[Patients] ([patient_id], [user_id], [full_name], [date_of_birth], [gender], [phone], [address], [health_insurance_no], [created_by], [created_at], [national_id], [national_id_date], [national_id_place]) VALUES (3, 13, N'Bệnh Nhân Thứ 3', CAST(N'2002-07-09' AS Date), N'Nữ', N'0904000003', N'Số 3 Đường CMT8, Quận 3, TP.HCM', N'GD4790000003', 3, CAST(N'2026-07-09T20:48:18.220' AS DateTime), N'031093000003', CAST(N'2021-05-20' AS Date), N'Cục Cảnh sát QLHC về trật tự xã hội')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [full_name], [phone], [role], [status], [email], [dob], [gender], [address], [created_at], [cccd]) VALUES (1, N'admin1', N'123456', N'Nguyễn Quản Trị 1', N'0901111111', N'admin', N'ACTIVE', N'admin1@gmail.com', NULL, NULL, NULL, CAST(N'2026-07-09T20:48:18.200' AS DateTime), N'00000000001')
INSERT [dbo].[Users] ([user_id], [username], [password], [full_name], [phone], [role], [status], [email], [dob], [gender], [address], [created_at], [cccd]) VALUES (2, N'admin2', N'123456', N'Trần Quản Trị 2', N'0901111112', N'admin', N'ACTIVE', N'admin2@gmail.com', NULL, NULL, NULL, CAST(N'2026-07-09T20:48:18.200' AS DateTime), N'001099000002')
INSERT [dbo].[Users] ([user_id], [username], [password], [full_name], [phone], [role], [status], [email], [dob], [gender], [address], [created_at], [cccd]) VALUES (3, N'staff1', N'123456', N'Lê Tiếp Tân 1', N'0902222221', N'staff', N'ACTIVE', N'staff1@gmail.com', NULL, N'Nữ', NULL, CAST(N'2026-07-09T20:48:18.200' AS DateTime), N'030099000001')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Doctors__BBBB6DA6E73232B5]    Script Date: 13/07/2026 4:36:11 PM ******/
ALTER TABLE [dbo].[Doctors] ADD UNIQUE NONCLUSTERED 
(
	[license_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572B1B33C63]    Script Date: 13/07/2026 4:36:11 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AIAdviceHistory] ADD  DEFAULT (getdate()) FOR [advice_date]
GO
ALTER TABLE [dbo].[AIAdviceHistory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AIWarnings] ADD  DEFAULT (getdate()) FOR [generated_at]
GO
ALTER TABLE [dbo].[HealthIndicators] ADD  DEFAULT (getdate()) FOR [measured_at]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [visit_date]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PatientDailyLogs] ADD  DEFAULT (CONVERT([date],getdate())) FOR [log_date]
GO
ALTER TABLE [dbo].[PatientDailyLogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AIAdviceHistory]  WITH CHECK ADD  CONSTRAINT [FK_AIAdvice_Patients] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[AIAdviceHistory] CHECK CONSTRAINT [FK_AIAdvice_Patients]
GO
ALTER TABLE [dbo].[AIWarnings]  WITH CHECK ADD  CONSTRAINT [FK_Warnings_Records] FOREIGN KEY([record_id])
REFERENCES [dbo].[MedicalRecords] ([record_id])
GO
ALTER TABLE [dbo].[AIWarnings] CHECK CONSTRAINT [FK_Warnings_Records]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[HealthIndicators]  WITH CHECK ADD  CONSTRAINT [FK_Indicators_Records] FOREIGN KEY([record_id])
REFERENCES [dbo].[MedicalRecords] ([record_id])
GO
ALTER TABLE [dbo].[HealthIndicators] CHECK CONSTRAINT [FK_Indicators_Records]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_Records_Doctors] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctors] ([doctor_id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_Records_Doctors]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_Records_Patients] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_Records_Patients]
GO
ALTER TABLE [dbo].[PatientDailyLogs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Patients] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[PatientDailyLogs] CHECK CONSTRAINT [FK_Logs_Patients]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users]
GO
USE [master]
GO
